  .mainFlexColumn{
	 
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
  }
  
  .mainFlexRow{
  	 
  	  display: flex;
  	  justify-content: center;
  	  align-items: center;
  	  flex-direction: row;
  }
  
  .FlexOne{
	  flex: 1;
  }
  .FlexTwo{
  	  flex: 2;
  } 
  .FlexThree{
  	  flex: 3;
  }
  .FlexSix{
	  flex: 6;
  }
  .Button{
	  
  }
  
  .marginMLeft{
	  margin-left: 0.625rem;
	  margin-top: 0.3125rem;
	  float: left;
  }
  .marginMRigh{
	  margin-right: 0.625rem;
	  margin-top: 0.3125rem;
	  float: right;
  }
  
  .marginMTop{
	  margin-top: 0.625rem;
  }
  .MflexCenterAlign{
	  display: flex;
	  
	 justify-content: center;
  }