  .mainFlexColumn{
	 
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
  }
  
  .mainFlexRow{
  	 
  	  display: flex;
  	  justify-content: center;
  	  align-items: center;
  	  flex-direction: row;
  }
  .FlexOne{
	  flex: 1;
  }
  .FlexTwo{
  	  flex: 2;
  }
  .FlexSix{
	  flex: 6;
  }
  .Button{
	  
  }